<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="card text-dark col-md-6 border border-success">
      <div class="card-body">
        <form class="form-signin">
          <h1 class="h3 mb-3 font-weight-normal">Faça seu login</h1>
          <label for="inputCPF">CPF</label>
          <input type="text" id="inputCPF" class="form-control" placeholder="123.456.678-90" required autofocus>
          <label for="inputSenha">Senha</label>
          <input type="password" id="inputSenha" class="form-control" placeholder="Insira sua senha..." required>
          <br>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar senha?
            </label>
          </div>
          <div class="row justify-content-md-start">
            <div class="col-md-6">
              <button class="btn btn-danger" routerLink="/home" type="submit">Voltar</button>
              <button class="btn btn-primary" routerLink="" type="submit">Login</button>
            </div>
          </div>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <button class="btn btn-success col-md-6" routerLink="/register" type="submit">Cadastre-se</button>
  </div>
</div>
