<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #006400;">
  <a routerLink="" class="navbar-brand text-white">SCIEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end btn-group btn-group-toggle" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href=" " style="color: #ffffff;">Ver Certificao</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;">
          Eventos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Listar Eventos</a>
          <a class="dropdown-item" href="#">Criar Eventos</a>
          <a class="dropdown-item" href="#">Meus Eventos</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button class="btn btn-outline-primary" routerLink="/login">Login<span class="sr-only">(current)</span></button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

