<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #006400;">
  <a routerLink="" class="navbar-brand text-white">SCIEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end btn-group btn-group-toggle" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button class="btn btn-outline-primary" routerLink="/login">Login<span class="sr-only">(current)</span></button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
